<div class="container">
  <%= render "top_bar" %>
  <div class="row">
    <div class="col-md-3">
      <%= render"side_panel" %>
    </div>
    <div class="col-md-9" style="padding-left:0;">
      <div class="col-md-6">
        <%= render "community" %>
        <%= render "live_questions" %>
      </div>
      <div class="col-md-6">
        <%= render "display" %>
        <%= render "results" %>
      </div>
    </div>
  </div>
</div>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script charset="utf-8">

</script>
